.mobileappPage {
}

.mobileappPage__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobileappPage__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    width: 70vw;
    height: 80vh;
}

.mobileappPage__top-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mobileappPage__top-left h3 {
    font-size: 3.8rem;
    color: #ffffff;
    font-weight: 500;
}

.mobileappPage__top-left p {
    font-size: 1.8rem;
    color: #00e6f6;
    font-weight: 300;
    margin-top: 20px;
}

.mobileappPage__smallimage {
    width:200px;
    height:200px;
    object-fit: contain;
     
}

.mobileappPage__section {
    width: 100%;
}

.mobileappPage__topbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.mobileappPage__topbody__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mobileappPage__topbody__box div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    width: 300px;
}

.mobileappPage__topbody__box div h3 {
    font-size: 2.7rem;
    color: #082A3A;
    font-weight: 600;
}

.mobileappPage__topbody__box div hr{
    width: 40%;
    height: 0.1px;
    background-color: rgba(0, 0, 0, 0.107);
}

.mobileappPage__topbody__box div p {
    font-size: 1.2rem;
    color: #082A3A;
    font-weight: 300;
}

.backdrop {
    padding: 10px;
    border-radius: 11px;
background: #ffffff;
box-shadow:  9px 9px 18px #ededed,
             -9px -9px 18px #ffffff;
}

.mobileappPage__bottombody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

}

.mobileappPage__bottombody h3 {
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 500;
}

.mobileappPage__bottombody__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;
    margin-top: 30px;

}

.mobileappPage__bottombody__box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    height: 300px;
}


.mobileappPage__bottombody__box h4 {
    font-size: 1.3rem;
    font-style: italic;
    color: #ffffff;
    font-weight: 500;
}

.mobileappPage__bottombody__box p {
    font-size: 1rem;
    color: #ededed;
    opacity: 0.6;
    font-weight: 500;
}

.mobileappPage__icon {
    width: 70px;
    height: 70px;
    opacity: 0.6;
    object-fit: contain;
    filter: invert(100%);
}


@media only screen and (max-width: 768px) {
    .mobileappPage__top {
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 100%;
        height: 100%;
    }

    .mobileappPage__top-left {
        margin-left: 15px;
    }

    .mobileappPage__top-left h3 {
        font-size: 2rem;
        font-weight: 400;
    }

    .mobileappPage__top-left p {
        width: 80%;
        font-size: 1.3rem;
        color: #00e6f6;
        font-weight: 300;
        margin-top: 20px;
    }

    .mobileappPage__top-left div {
        display: flex;
    }

    .mobileappPage__smallimage {
        width:160px;
        height:160px;
        object-fit: contain;
    }

    .mobileappPage__top-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .mobileappPage__top-image {
        width: 80%;
        height: 80%;
        object-fit: contain;
    }

    .mobileappPage__topbody__box {
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .box__one {
        display: flex;
        flex-direction: column-reverse;
    }

    .box__two{
        display: flex;
        flex-direction: column;
    }

    .box__three{
        display: flex;
        flex-direction: column-reverse;
    }

    .mobileappPage__topbody__box div {
        width: 90%;
    }

    .mobileappPage__topbody__box div h3 {
        font-size: 2rem;
        color: #082A3A;
        font-weight: 600;
    }

    .mobileappPage__topbody__box div hr{
        width: 30%;
       
    }

    .mobileappPage__topbody__box div p {
        font-size: 1.1rem;

    }

    .backdrop{
        box-shadow: 0 0 0 0 #ffffff;
    }

    .mobileappPage__bottombody h3 {
        font-size: 2.2rem;
        color: #ffffff;
        font-weight: 500;
    }

        
    .mobileappPage__bottombody__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        margin-top: 30px;

    }
}