
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
    padding: 10px;
    width: 250px;
    height: 250px;
    text-decoration: none;
    color: #000;
}

.card__skeleton {
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.483) !important;
}

.card-small {
    width: 12vw;
    height: 20vh;
}

.card-large {
    width: 500px;
    height: 250px;
}

.card-horizontal {
    width: 90%;
    height: 250px;
}

.card-vertical {
    width: 450px;
    height: 70vh;
}

.card__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card__name {
    font-size: 1.1rem;
    font-weight: 600;
    color: #000;
    opacity: 0.9;
}

.card__image {
    width: 30px;
    height: 100%;
    background-size: cover;
    background-position: center;
}


.card-change-positive {
    color: green;
    font-size: 13px;
}

.card-change-negative {
    color: red;
    font-size: 13px;

}

/* Login Card Styles */

.loginCard{
    display: flex;
    flex-direction: column;
    width: 24vw;
    height: 40vh;
    padding: 10px;
    background-color: #0f3749;
    border-radius: 2px;
    margin-bottom: 30px;
}


.loginCard__tab {
    width: 50%;
    background-color: #0f3749;
    color: #FFFFFF !important;
}

.loginCard__tabpanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.loginCard____tabpanel__link{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    color: #00E6F6;
}

/* Coin Card */

.coinCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 24vw;
    height: 70px;
    border-bottom: 0.4px solid #00E6F6;
    background-color: #0f3749;
}

.coinCard__left{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0f3749;
    color: #FFFFFF;
}

.coinCard__image {
    width: 2vw;
    height: 2vw;
    object-fit: contain;
}

.coinCard__left a {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
}

.coinCard__left a:hover {
    transform: scale(1.05);
}

.coinCard__left-symbol {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.6;
}

.coinCard__right p{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #FFFFFF;
}

.coinCard__right-change {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.6;
}


@media only screen and (max-width: 768px) {
   
    .card {
       
        margin-bottom: 0px;
        margin-left: 5px;
        margin-right: 5px;
        padding:10px;
        width: 100%;
        height: 250px;
    }
        
    .card-small {
        width: 100% !important;
        height: 150px;
    }

    .card__name {
        font-size: 0.9rem;
        font-weight: 600;
        color: #000;
        opacity: 0.9;
    }

    .card__image {
        width: 22px;
        height: 22px;
        background-size: contain;
    }


    .card-change-positive {
        color: green;
        font-size: 14px;
    }

    .card-change-negative {
        color: red;
        font-size: 14px;

    }

    .coinCard {
        width: 100%;
    }

    .coinCard__left{
       margin-left: 10px;
    }

    .coinCard__right{
        margin-right: 10px;
    }

    .coinCard__image {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    /*  Login Card Responsive Styles*/
        
    .loginCard{
        width: 100%;
        height: 40vh;
        padding: 0px;
        margin-bottom: 0px;
        margin-top: 40px;
    }


    .loginCard__tab {
        width: 50%;
        background-color: #0f3749;
        color: #FFFFFF !important;
    }

    .loginCard__tabpanel {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }

    .loginCard____tabpanel__link{
        font-size: 1rem;
        font-weight: 400;
        color: #FFFFFF;
        text-decoration: none;
        color: #00E6F6;
    }

    
}