
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
    padding: 10px;
    width: 250px;
    height: 250px;
    text-decoration: none;
    color: #000;
}

/* .card:hover {
    transform: scale(0.05);
} */


.card-small {
    width: 12vw;
    height: 20vh;
}

.card-large {
    width: 500px;
    height: 250px;
}

.card-horizontal {
    width: 90%;
    height: 250px;
}

.card-vertical {
    width: 450px;
    height: 70vh;
}

.card__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card__name {
    font-size: 1.1rem;
    font-weight: 600;
    color: #000;
    opacity: 0.9;
}

.card__image {
    width: 30px;
    height: 100%;
    background-size: cover;
    background-position: center;
}


.card-change-positive {
    color: green;
    font-size: 13px;
}

.card-change-negative {
    color: red;
    font-size: 13px;

}

/* Login Card Styles */

.loginCard{
    display: flex;
    flex-direction: column;
    width: 24vw;
    height: 40vh;
    background-color: #0f3749;
    border-radius: 2px;
}


.loginCard__tab {
    width: 50%;
    background-color: #0f3749;
    color: #FFFFFF !important;
}

.loginCard__tabpanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.loginCard____tabpanel__h4{
    font-size: 1.3rem;
    font-weight: 400;
    color: #FFFFFF;
}

.loginCard____tabpanel__link{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    color: #00E6F6;
}