.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #082A3A;

    box-shadow:  -20px 20px 60px #072431,
             20px -20px 60px #093043;
    position: sticky;
    top: 0;
    z-index: 1;
          
}

.header__logo {
    width: 350px;
    height: 100px;
    object-fit: cover;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav-home {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__nav-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: 100%;
}

.header__nav-div-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    height: 100%;
}

.header__nav-link {
    /* margin: 0 100px; */
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 0.9px;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}

.header__nav-link:hover{
    opacity: 1;
    transform: scale(1.07);
}

.header__btn {
    width: 220px;
    height: 50px;
    font-size: 15px;
    border-radius: 5px;
    background: #00E6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    opacity: 0.6;
}

.header__btn:hover{
    opacity: 1;
    transform: scale(1.07);
}

.hide {
    display: none;
}
.hamburger {
    display: none;
}

@media only screen and (max-width: 768px) {

    .hamburger{
        display: block;
    }

    .header__icon{
        font-size: 3rem;
        color: #FFFFFF;
        margin-right: 30px;
        opacity: 0.7;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header__logo {
        width: 200px;
        height: 50px;
    }

    .header__nav-home {
        width: 100%;
        flex-direction: column;
        background-color: #072431;
        position: fixed;
        top: 4rem;
        left:100%;
        height: 55vh;
        z-index: 1;
        
    }

    .header__nav-div {
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    .header__nav-div-right {
        flex-direction: column;
        width: 100%;
        gap: 5rem;
    }

    .header__nav-link {
        color: #FFFFFF;
        font-size: 16px;
    }

    .active {
        left: 0%;
        animation: fadeInRight 0.5s ease-in-out;
    }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}
