.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70vh;
    border-radius: 10px;
    max-width: 100%;
    margin-bottom: 1rem;
}

.table__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


table {
    width: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: whitesmoke;
    text-align: left;
    border-spacing: 0;
    border-collapse: collapse;
}
td, th {
    padding: 8px;
}

table th {
    height: 50px;
    opacity: 0.5;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

tr {
    height: 20px;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
}

.coin__td {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.coin__td-name{
    margin-left: 10px;
    font-size: 16px;
}

.coin__td-symbol {
    font-weight: 500;
    opacity: 0.4;
    margin-left: 10px;
    font-size: 18px;
}

.coin__td-change-positive {
    color: #000;
}

.coin__td-change-negative {
    color: #ff0000;

}

.coin__td-spark {
    width: 125px;
}
.table__image {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.table__link__container {
    width: 80%;
    height: 60px;
    background-color: whitesmoke;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table__link__container a {
    font-size: 18px;    
    text-decoration: none;
    color: #1F6CAB;
}

.table__link__container a:hover {
    text-decoration: underline;
    transform: scale(1.04);
}

.responsive__table {
    display: none;
}

@media only screen and (max-width: 600px) {
    

    .table {
       width: 100%;
       height: 100%;
       margin-top: 4rem;
       margin-bottom: 4rem;
       border-radius: none;
    }

    .responsive__table {
        display: block;
        width: 85%;
        overflow: hidden;
        overflow-y: scroll;
    }

    .table__content {
       display: none;

    }

    .responsive__table__content{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-bottom: 0.4px solid #00E6F6;
        background-color: #0f3749;
        
    }

    .responsive__table__top {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-left: 10px;
        color: #00E6F6;
    }

    .responsive__table__top div h4 {
        color: #FFFFFF;
        font-weight: 400;
        font-size: 14px;
    }

    .responsive__table__top div span {
        font-size: 13px;
        font-weight: 500;
        opacity: 0.5;
    }

    .responsive__table__sparklines {
        width: 30vw;
    }

    .responsive__table__content__price {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 10px;
        color: #FFFFFF;
        font-size: 13px;
        font-weight: 400;
    }

    .coin__td-change-positive {
        color: #00E6F6;
        opacity: 0.6;
    }
}